@model ResultViewModel

<div class="container">
    <header class="page-header">
        <h1>Suchergebnisse <small>für '@Model.Query'</small></h1>
    </header>

    <ul class="onebox-results">
        @foreach (var partner in Model.FoundPartners)
        {
        <li class="list-group-item selected">
            <a href="@partner.Url">
                <h3>
                    <span class="p-honorific-prefix">@partner.Honorific</span>
                    <span class="p-name">@partner.Firstname @partner.Name</span>
                    <!-- TODO: add branch indicators -->
                </h3>
                <p>
                    <span class="p-post-code">@partner.Address</span>
                </p>
                <p>
                    @partner.Age Jahre, geb. am <span class="dt-bday">@partner.DateOfBirth</span>
                </p>
            </a>
        </li>
        }
    </ul>
</div>