@model  Partner

<div class="customer-card-wrapper">
    <div class="container">
        <article data-accordion="active" class="customer-card h-card accordion">
            <div class="accordion-title">
                <div class="customer-card-name">
                    <a href="@Model.Links.Self" class="customer-card-name-link" data-pjax="active">
                        <span class="p-name">@Model.Honorific @Model.Firstname @Model.Name</span>
                    </a>
                    <span class="customer-card-flags">
                        <a href="#" class="customer-card-flag" data-toggle="popover" data-placement="bottom" data-content="Es liegt noch keine Einverständniserklärung für den Kontakt per Telefon und E-Mail zur Akquise vor.">AQ</a>
                        <a href="#" class="customer-card-flag" data-toggle="popover" data-placement="bottom" data-content="Großkunde">GK</a>
                        <a href="#" class="customer-card-flag" data-toggle="popover" data-placement="bottom" data-content="Der Kunde ist Nutzer des Onlineservices Crimson.">WEB</a>
                    </span>
                </div>
                <ul class="customer-card-portfolio">
                    <li class="customer-card-portfolio-item">
                        <a href="@Model.Links.Offers" class="customer-card-portfolio-item-link preview" data-preview="enabled" data-preview-title="Angebote" data-preview-selector="table.portfolio-overview" data-preview-error-msg="Angebote nicht abrufbar!" data-preview-window>
                            Angebote <span class="customer-card-portfolio-item-quantity"></span>
                        </a>
                    </li>
                    <li class="customer-card-portfolio-item">
                        <a href="@Model.Links.Proposals" class="customer-card-portfolio-item-link preview" data-preview="enabled" data-preview-title="Anträge" data-preview-selector="table.portfolio-overview" data-preview-error-msg="Anträge nicht abrufbar!" data-preview-window>
                            Anträge <span class="customer-card-portfolio-item-quantity"></span>
                        </a>
                    </li>
                    <li class="customer-card-portfolio-item">
                        <a href="@Model.Links.Contracts" class="customer-card-portfolio-item-link preview" data-preview="enabled" data-preview-title="Verträge" data-preview-selector="table.portfolio-overview" data-preview-error-msg="Verträge nicht abrufbar!" data-preview-window>
                            Verträge <span class="customer-card-portfolio-item-quantity"></span>
                        </a>
                    </li>
                    <li class="customer-card-portfolio-item">
                        <a href="#" class="customer-card-portfolio-item-link collection-preview"
                           data-popover-content="#portfolio-item-popover-claims">
                            Schäden <span class="customer-card-portfolio-item-quantity"></span>
                        </a>
                    </li>
                </ul>

                <div class="collection-excerpt" id="portfolio-item-popover-claims">
                    <h3 class="collection-excerpt-title">
                        Schnellansicht
                        <a href="#" class="collection-link">Alle anzeigen</a>
                    </h3>
                    <p>N/A</p>
                </div>
                <div class="customer-card-drawer dropdown">
                    <button class="customer-card-drawer-btn dropdown-toggle" type="button" id="customer-card-drawer-btn-id" data-toggle="dropdown" data-bubble="4">
                        <i class="icon-id-2-filled"></i>
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="customer-card-drawer-btn-id">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Kundenarchiv</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Kundenablage</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Termine (2)</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Notizen (1)</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Aktueller Hinweis (1)</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Korrespondenz</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">EVB</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Zahlungsverkehr</a></li>
                    </ul>
                </div>
            </div>
            <div class="customer-card-details">
                <div class="customer-card-contact">
                    <p class="p-street-address">@Model.Address.Street</p>
                    <p>
                        <span class="p-postal-code">@Model.Address.PostCode</span>
                        <span class="p-locality">@Model.Address.City</span>
                    </p>
                    <a href="tel:@Model.Phone">
                        <i class="navbar-icon icon-call-1-filled"></i>
                        <span class="p-tel">@Model.Phone</span>
                    </a>
                </div>
                <div class="customer-card-misc">
                    <p>@Model.Age Jahre, geb. am <span class="dt-bday">@Model.DateOfBirth</span></p>
                    <p>@Model.PersonalStatus, @Model.ChildrenCount</p>
                    <p class="p-job-title">@Model.Job</p>
                </div>
            </div>
        </article>
    </div>
</div>